//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03 Education (64-bit)
//Part Number: GW1N-UV9EQ144C6/I5
//Device: GW1N-9
//Device Version: C
//Created Time: Wed 07 24 09:59:11 2024

IO_LOC "led_out" 136;
IO_PORT "led_out" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led1" 88;
IO_PORT "led1" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Seg_Blue_Led[7]" 49;
IO_PORT "Seg_Blue_Led[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Seg_Blue_Led[6]" 47;
IO_PORT "Seg_Blue_Led[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Seg_Blue_Led[5]" 45;
IO_PORT "Seg_Blue_Led[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Seg_Blue_Led[4]" 43;
IO_PORT "Seg_Blue_Led[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Seg_Blue_Led[3]" 41;
IO_PORT "Seg_Blue_Led[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Seg_Blue_Led[2]" 39;
IO_PORT "Seg_Blue_Led[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Seg_Blue_Led[1]" 34;
IO_PORT "Seg_Blue_Led[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Seg_Blue_Led[0]" 15;
IO_PORT "Seg_Blue_Led[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Dig_Seg_Sel[3]" 66;
IO_PORT "Dig_Seg_Sel[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Dig_Seg_Sel[2]" 56;
IO_PORT "Dig_Seg_Sel[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Dig_Seg_Sel[1]" 52;
IO_PORT "Dig_Seg_Sel[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Dig_Seg_Sel[0]" 50;
IO_PORT "Dig_Seg_Sel[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Beep" 135;
IO_PORT "Beep" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Sw[2]" 67;
IO_PORT "Sw[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "Sw[1]" 57;
IO_PORT "Sw[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "Key" 51;
IO_PORT "Key" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "Sys_clk" 11;
IO_PORT "Sys_clk" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
